.wrap {
  gap: 26px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 26px;
}

@media (min-width: 768px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
